@font-face {
  font-family: 'Centurygothic';
  font-weight: 700;
  font-style: normal;
  src: local('Centurygothic-Bold'),
    url('../fonts/Centurygothic-Bold.woff2') format('woff2'),
    url('../fonts/Centurygothic-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Centurygothic';
  font-weight: 400;
  font-style: normal;
  src: local('Centurygothic-Regular'),
    url('../fonts/Centurygothic-Regular.woff2') format('woff2'),
    url('../fonts/Centurygothic-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: local('Inter-Regular'),
    url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff') format('woff');
  font-display: swap;
}